<%= render 'shared/page_title', title: "All Chefs" %>

<div class="row">
  <div class="col-md-4 col-md-offset-4 center">
    <%= will_paginate %>
  </div>
</div>

<% @chefs.each do |c| %>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 center">
      <%= link_to gravatar_for(c, size: 200), chef_path(c) %>
      <h5><%= c.chefname %></h5>
    </div>
  </div>
<br />
<% end %>
